<%- include('partials/header') %>
<body>
  <%- include('partials/navbar') %>
  <main>
    <div class="wrapper">
      <div class="film__container">
        <img class="film-img" src="<%= film.image_src %>" alt="" />
        <div class="film__content wrapper">
          <h1 class="film__title"><%= film.title %></h1>
          <p>
            Titre Original :
            <span class="film-ogtitle"><%= film.original_title %></span>
          </p>
          <p>
            Directeur : <span class="film-director"><%= film.director %></span>
          </p>
          <p>
            Anéée de sortie :
            <span class="film-releasedate"><%= film.release_date %></span>
          </p>
          <p>Durée :  <span class="film-duration"><%= film.duration %> minutes</span></p>
          <h2 class="film__subtitle">Pitch du film</h2>
          <p class="film-description"><%= film.description %></p>
        </div>
      </div>
    </div>
<%- include('partials/footer') %>
